<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,shrink-to-fit=no">
    <title><%- data.title %></title>
    <meta name="keywords" content="<%- data.seo_keywords %>">
	<meta name="description" content="<%- data.seo_description %>">
    <script src="./assets/polyfill.min.js"></script>
    <!--[if IE 9]>
    <script>
        window.console = window.console || (function () {
            var c ={};
            c.log = c.warn = c.debug = c.info = c.error = c.time = c.dir = c.profile= c.clear = c.exception = c.trace = c.assert = function(){};
            return c;
        })();
    </script>
    <script src="./assets/jquery/jquery.xdomainrequest.min.js"></script>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/normalize/0/normalize.min.css" />
    <style>
        /* .clearfix{ 
            background: transparent;
        } */
    </style>
</head>
<body>

   
